<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/style.css">
    <title>React Component</title>
    <script src="../build/react.js"></script>
    <script src="../build/JSXTransformer.js"></script>
    <script src="../build/sortFunction.js"></script>
    <script src="../build/jquery-1.11.1.js"></script>
</head>
<body>
<a href="/jquery">To Jquery Component</a>
<div id="content"></div>
<script type="text/jsx" src="../src/app.js"></script>
</body>
</html>